@import '../styles/mixins';

.form-container {
    width: clamp(18.75rem, 90vw, 87.5rem);
    @include flex-box(center, center, 15.625rem, column);

    .inputs-wrapper {
        display: flex;
        @include flex-box(center, center, 1.875rem);
        width: 100%;

        > input,
        div.select {
            color: hsl(0, 0%, 95%);
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 100%;
            max-width: 31.25rem;
            box-sizing: border-box;
            height: 3.4375rem;
        }

        input {
            text-align: center;
            background-color: hsl(222, 17%, 20%);
            font-weight: bold;
            border: 0.125rem hsl(222, 17%, 20%) solid;
            border-radius: 0.5em;
            padding: 1rem;
            outline: none;

            &:focus {
                border: 0.125rem var(--secondary-bg) solid;
                box-shadow: 0 0 0.8em var(--secondary-bg);
            }

            &:hover {
                background-color: #323741;

                &:not(:focus) {
                    cursor: pointer;
                }
            }
        }
    }

    button {
        border-radius: 1.5625rem;
        width: 40%;
        max-width: 56.25rem;
        height: 3.4375rem;

        color: var(--primary-bg);
        background-color: var(--secondary-bg);
        border: 0.125rem solid var(--primary-bg);
        font-size: 1em;
        font-weight: bold;
        transition: border-color 300ms;

        &:hover {
            cursor: pointer;
            border-color: var(--secondary-bg);
        }
    }
}

@media screen and (max-width: 45.625rem) {
    .form-container {
        gap: 5.625rem;

        .inputs-wrapper {
            flex-direction: column;
            gap: 2.5rem;

            > input,
            div.select {
                flex-grow: 0;
                width: 90%;
                height: 1.875rem;
                max-width: 90%; // защото иначе отстава онзи rule отгоре max-width: 31.25rem
            }
        }

        button {
            width: 90%;
        }
    }
}
