@import '../styles/mixins';

div.question-footer {
    @include flex-box(space-between, normal);

    padding-block-start: 1rem;

    span {
        @include flex-box();
        font-weight: 700;
    }

    button#quit-button {
        color: hsl(0, 0%, 12%);
        font-weight: bold;
        padding: 0.625rem 1.875rem;
        border: none;
        border-radius: 3.125rem;
        background-color: var(--incorrect-bg);

        &:hover {
            cursor: pointer;
        }
    }
}
