@import '../styles/mixins';

.results {
    position: relative;
    width: clamp(20rem, 80vw, 50rem);
    @include flex-box(normal, normal, 2rem, column);

    > :is(h1, h2) {
        text-align: center;
    }

    h1 {
        color: var(--primary-text-cl);
    }

    > h2 {
        color: var(--primary-text-cl);
        font-weight: 300;

        > span {
            font-weight: 700;
        }
    }

    > div.answers {
        display: flex;
        border-radius: 0.625rem;
        overflow: hidden;

        > span {
            // color: var(--primary-text-cl);
            color: hsl(0, 0%, 12%);
            flex-basis: 0;
            padding: 0.625rem;
            @include flex-box(center, center, 0.3rem);
            font-weight: 700;

            &.correct {
                background-color: var(--correct-bg);
                justify-content: flex-start;
            }

            &.incorrect {
                background-color: var(--incorrect-bg);
                justify-content: flex-end;
            }
        }
    }

    div.jokers {
        > span {
            // color: var(--question-bg);
            color: var(--primary-text-cl);
            @include flex-box(space-between, center);
            padding: 1rem 0;
            font-weight: 600;
            padding-inline-end: 0.5rem;
        }

        span:nth-child(2) {
            border-block: 0.1rem solid;
        }
        span:nth-child(3) {
            border-bottom: 0.1rem solid;
        }

        > span > i {
            display: flex;
            align-items: center;
            gap: 0.4rem;
        }
    }

    > button {
        border-radius: 1.5625rem;
        color: hsl(0, 0%, 12%);
        background-color: var(--secondary-bg);
        border: none;
        font-size: 1em;
        font-weight: 600;
        transition: border-color 0.5s;
        // width: 300px;
        padding: 1rem 3rem;
        align-self: center;

        &:hover {
            cursor: pointer;
            border-color: var(--secondary-bg);
        }
    }
}

@media screen and (max-width: 45.625rem) {
    .results > button {
        padding: 1rem 2rem;
    }
}
