@import './styles/mixins';

div#theme {
    --header-bg: hsl(0, 0%, 100%);
    --header-shadow: hsl(0, 0%, 0%);
    --primary-bg: hsl(0, 0%, 95%);
    --secondary-bg: rgb(66, 184, 131);
    --primary-text-cl: hsl(0, 0%, 12%);
    --question-bg: hsl(190, 50%, 55%);
    --question-bg-hover: hsl(190, 50%, 40%);
    --correct-bg: rgb(66, 184, 131);
    --incorrect-bg: rgb(237, 67, 55);

    &.dark {
        --header-bg: hsl(0, 0%, 14%);
        --header-shadow: hsl(0, 0%, 35%);
        --primary-bg: hsl(0, 0%, 11%);
        --primary-text-cl: hsl(0, 0%, 95%);
    }
}

div#theme {
    position: relative; // за модала
    background-color: var(--primary-bg);
    min-width: 20rem;
    min-height: 100vh;
    @include flex-box();
}

h1,
h2,
h3 {
    line-height: 1.2;
    letter-spacing: -1.6px;
}

@media (width < 1000px) {
    h1,
    h2,
    h3 {
        letter-spacing: -1px;
    }
}
